@mixin fist() {
  position: absolute;
  content: "";

  top: -7px;

  width: 44px;
  height: 44px;

  background: url("./../assets/images/icons/icon_fist.png") no-repeat;
  background-size: cover;
}

@mixin lightning() {
  position: absolute;
  content: "";

  top: 3px;

  width: 44px;
  height: 44px;

  background: url("./../assets/images/icons/icon_lightning_bolt.png") no-repeat;
  background-size: cover;

  transition: transform 0.3s ease-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background: url("./../assets/images/backgrounds/background_random_icons_transparent.png") no-repeat;
  background-size: cover;

  text-align: center;
  line-height: 1;
  font-family: 'Raleway', serif;
}

.logo_wrapper {
  margin-top: 80px;
}

.title {
  font-weight: 300;
  font-size: 70px;
}

.subtitle {
  position: relative;

  margin-top: 10px;


  font-weight: 500;
  font-size: 32px;

  &::before {
    @include fist();
    left: -44px;
    transform: rotateX(0deg);
  }

  &::after {
    @include fist();
    right: -44px;
    transform: rotateX(-180deg);
  }
}

.btn_wrapper {
  margin-top: 155px;
  position: relative;

  &::before {
    @include lightning();
    left: -44px;
    transform: scaleX(-1);
  }

  &::after {
    @include lightning();
    right: -44px;
  }

  &.btn_hovered::before {
    transform: translateX(-10px) scaleX(-1);
  }

  &.btn_hovered::after {
    transform: translateX(10px);
  }
}

.btn_enter {
  padding: 10px 22px;

  font-weight: 400;
  font-size: 30px;

  border-radius: 12px;
  border: 2px solid black;

  &:hover {
    color: #fff;
    background-color: black;
    border-color: white;
  }


}
